<?xml version="1.0"?>
<config>
    <modules>
        <ISM_NewstoreMembers>
            <version>0.1.0</version>
        </ISM_NewstoreMembers>
    </modules>
    <frontend>
        <routers>
            <ism_newstore_members>
                <use>standart</use>
                <args>
                    <module>ISM_NewstoreMembers</module>
                    <frontName>newstore_members</frontName>
                </args>
            </ism_newstore_members>
        </routers>
        <layout>
            <updates>
                <ism_newstore_members>
                    <file>ism/newstore_members.xml</file>
                </ism_newstore_members>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ism_newstore_members>
                <use>admin</use>
                <args>
                    <module>ISM_NewstoreMembers</module>
                    <frontName>newstore_members</frontName>
                </args>
            </ism_newstore_members>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ism_newstore_members>
                    <file>ism/newstore_members.xml</file>
                </ism_newstore_members>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product>ISM_NewstoreMembers_Model_Product</product>
                </rewrite>
            </catalog>
            <ism_newstore_members>
                <class>ISM_NewstoreMembers_Model</class>
                <resourceModel>ism_newstore_members_resource</resourceModel>
            </ism_newstore_members>
            <ism_newstore_members_resource>
                <class>ISM_NewstoreMembers_Model_Resource</class>
                <entities>
                    <newstore_members>
                        <table>ism_newstore_members</table>
                    </newstore_members>
                </entities>
            </ism_newstore_members_resource>
        </models>
        <resources>
            <ism_newstore_members_setup>
                <setup>
                    <module>ISM_NewstoreMembers</module>
                </setup>
            </ism_newstore_members_setup>
        </resources>
        <blocks>
            <ism_newstore_members>
                <class>ISM_NewstoreMembers_Block</class>
            </ism_newstore_members>
            <adminhtml>
                <rewrite>
                    <customer_group_edit>ISM_NewstoreMembers_Block_Adminhtml_Customer_Group_Edit</customer_group_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ism_newstore_members>
                <class>ISM_NewstoreMembers_Helper</class>
            </ism_newstore_members>
        </helpers>
        <fieldsets>
            <sales_convert_quote>
                <newstore_member_code>
                    <to_order>newstore_member_code</to_order>
                </newstore_member_code>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <newstoremembers>
                        <type>model</type>
                        <class>ISM_NewstoreMembers_Model_Observer</class>
                        <method>newstoreMemberCheck</method>
                    </newstoremembers>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>
</config>