<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_flush_system">
        <observer name="flush_image_cache" instance="ISM\Blog\Observer\FlushAllCache" />
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="flush_image_cache" instance="ISM\Blog\Observer\FlushAllCache" />
    </event>
</config>
