<?xml version="1.0"?>
<config>
    <modules>
        <ISM_News>
            <version>0.1.0</version>
        </ISM_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>ISM_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <news>
                <use>admin</use>
                <args>
                    <module>ISM_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <news module="ism_news">
                <title>News</title>
                <sort_order>71</sort_order>
                <children>
                    <item module="ism_news">
                        <title>Manage Item</title>
                        <sort_order>0</sort_order>
                        <action>news/adminhtml_news</action>
                    </item>
                </children>
            </news>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <news translate="title" module="ism_news">
                            <title>Manage Item</title>
                            <sort_order>0</sort_order>
                            <children>
                                <item module="ism_news">
                                    <title>Manage Item</title>
                                    <action>news/adminhtml_news</action>
                                </item>
                            </children>
                        </news>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ism_news>
                <class>ISM_News_Model</class>
                <resourceModel>ism_news_resource</resourceModel>
            </ism_news>
            <ism_news_resource>
                <class>ISM_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>ism_news</table>
                    </news>
                </entities>
            </ism_news_resource>
        </models>
        <resources>
            <ism_news_setup>
                <setup>
                    <module>ISM_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ism_news_setup>
            <ism_news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ism_news_write>
            <ism_news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ism_news_read>
        </resources>
        <blocks>
            <ism_news>
                <class>ISM_News_Block</class>
            </ism_news>
        </blocks>
        <helpers>
            <ism_news>
                <class>ISM_News_Helper</class>
            </ism_news>
        </helpers>
    </global>
</config>