<?xml version="1.0"?>
<config>
    <modules>
        <ISM_DeliveryAt>
            <version>0.1.0</version>
        </ISM_DeliveryAt>
    </modules>
    <frontend>
        <routers>
            <deliveryat>
                <use>standard</use>
                <args>
                    <module>ISM_DeliveryAt</module>
                    <frontName>deliveryat</frontName>
                </args>
            </deliveryat>
        </routers>
        <layout>
            <updates>
                <ism_deliveryat>
                    <file>ism_deliveryat.xml</file>
                </ism_deliveryat>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <deliveryat>
                <use>admin</use>
                <args>
                    <module>ISM_DeliveryAt</module>
                    <frontName>deliveryat</frontName>
                </args>
            </deliveryat>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <deliveryat>
                    <file>ism_deliveryat.xml</file>
                </deliveryat>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <ism_deliveryat>
                <class>ISM_DeliveryAt_Helper</class>
            </ism_deliveryat>
        </helpers>
        <blocks>
            <ism_deliveryat>
                <class>ISM_DeliveryAt_Block</class>
            </ism_deliveryat>
        </blocks>
        <models>
            <ism_deliveryat>
                <class>ISM_DeliveryAt_Model</class>
            </ism_deliveryat>
        </models>
        <resources>
            <ism_deliveryat_setup>
                <setup>
                    <module>ISM_DeliveryAt</module>
                </setup>
                <class>Mage_Catalog_Model_Resourse_Setup</class>
            </ism_deliveryat_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <delivery_at>
                    <to_order>delivery_at</to_order>
                </delivery_at>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliveryat>
                        <type>model</type>
                        <class>ISM_DeliveryAt_Model_Observer</class>
                        <method>deliveryAtToQuote</method>
                    </deliveryat>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>
</config>